#about {
  .about-content {
    .about-left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      ul {
        display: flex;
        list-style: none;
        padding-left: 1rem;
        padding-top: 2rem;
      }

      p {
        padding-top: 2rem;
      }

      .list-social-icons a {
        font-size: 3rem;
        padding-right: 1rem;
        color: #495057;
      }

      .list-social-icons a:hover {
        color: #bd5d38;
      }
    }
    img {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  #about {
    .about-content {
      display: flex;
      height: 60vh;

      img {
        display: none;
        max-width: 60%;
        min-width: 350px;
        margin: 0.5em 0 1em 1em;
        border: 1px solid black;
      }
    }
  }
}
